.todo-card {
    max-width: 550px;
}

.todo-item {
    cursor: grab;
}

.todo-item .drag-handle {
    cursor: grab;
    font-size: 20px;
    color: #999;
}

.done {
    text-decoration: line-through;
    color: #999;
}

.task-title {
    display: inline-block;
    width: 100%;
    cursor: text;
}

.edit-input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
}
